@model IEnumerable<NotesMarketPlace.Models.BuyerRequestViewModel>
@{
    ViewBag.Title = "BuyerRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header Section -->
<!-- Navigation -->
<section class="navigation white-nav">
    <div class="nav-box">
        <div class="container">
            <nav class="navbar">

                <!-- Logo -->
                <div class="nav-logo">
                    <img src="~/Content/image/logo/blue-logo.png" alt="image">
                </div>

                <!-- Link -->
                <div class="nav-menu-link">
                    <ul class="navbar-nav container">
                        <!-- Dashboard -->
                        <li class="nav-item">
                            <a class="nav-link" href="./searchnotes.html">Search Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./dashboard.html">Sell Your Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Buyer Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contactus.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="user-nav-link" data-toggle="dropdown" href="#">
                                    <img class="rounded-circle" src="~/Content/image/user-profile-img/user-img.png" alt="">
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="./userprofile.html">My Profile</a>
                                    <a class="dropdown-item" href="./mydownloads.html">My Downloads</a>
                                    <a class="dropdown-item" href="./soldnotes.html">My Sold Notes</a>
                                    <a class="dropdown-item" href="./rejectednote.html">My Rejected Notes</a>
                                    <a class="dropdown-item" href="./changepass.html">Change Password</a>
                                    <a class="dropdown-item" href="#"><span><b>Logout</b></span> </a>
                                </div>
                            </div>
                        </li>
                        <!-- Logout Btn -->
                        <li class="nav-item">
                            <div id="btn-white">
                                @Html.ActionLink("LOGOUT", "Logout","Account", new { @class = "btn"})                                
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Mobile Toggle Btn -->
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

            </nav>
        </div>
    </div>
</section>

<!-- buyer request table -->
<section id="buyer-requests">
    <div class="content-box">
        <div class="container">

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-12">
                    <h4>Buyer Requests</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12">
                    @using (Html.BeginForm("BuyerRequest", "SearchNote", FormMethod.Get))
                    {
                        <span>
                            <button type="submit" class="btn btn-primary btn-lg">SEARCH</button>
                            <input type="text" id="myInput" name="BR_search" placeholder="Search..." title="Type in a name">
                        </span>
                    }
                   

                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <table class="table buyer-requests-tbl">
                        <thead>
                            <tr>
                                <th scope="col">SR NO.</th>
                                <th scope="col">@Html.ActionLink("NOTE TITLE", "BuyerRequest", new { sortOrder = ViewBag.TitleSortParm, BR_search = Request.QueryString["BR_search"] })</th>
                                <th scope="col">@Html.ActionLink("CATEGORY", "BuyerRequest", new { sortOrder = ViewBag.CategorySortParm, BR_search = Request.QueryString["BR_search"] })</th>
                                <th scope="col">@Html.ActionLink("BUYER", "BuyerRequest", new { sortOrder = ViewBag.BuyerNameSortParm, BR_search = Request.QueryString["BR_search"] })</th>
                                <th scope="col">@Html.ActionLink("PHONE NO.", "BuyerRequest", new { sortOrder = ViewBag.PhoneSortParm, BR_search = Request.QueryString["BR_search"] })</th>
                                <th scope="col">@Html.ActionLink("SELL TYPE", "BuyerRequest", new { sortOrder = ViewBag.SellTypeSortParm, BR_search = Request.QueryString["BR_search"] })</th>
                                <th scope="col">@Html.ActionLink("PRICE", "BuyerRequest", new { sortOrder = ViewBag.PriceSortParm, BR_search = Request.QueryString["BR_search"] })</th>
                                <th scope="col">@Html.ActionLink("DOWNLOADESD DATE/TIME", "BuyerRequest", new { sortOrder = ViewBag.DateSortParm, BR_search = Request.QueryString["BR_search"] })</th>                                
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int no = (ViewBag.srno - 1)*5 + 1;
                            }

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@no</td>
                                    <td>@item.Downloadstbl.NoteTitle</td>
                                    <td>@item.Downloadstbl.NoteCategory</td>
                                    <td>@item.Userstbl.Email</td>
                                    <td>+@item.UserProfiletbl.PhoneNumber_CountryCode @item.UserProfiletbl.PhoneNumber</td>
                                    @if (item.Downloadstbl.IsPaid == true)
                                    {
                                        <td>paid</td>
                                        <td>@item.Downloadstbl.PurchasedPrice</td>
                                    }
                                    else
                                    {
                                        <td>Free</td>
                                        <td>$0</td>
                                    }
                                    <td>@item.Downloadstbl.AttachmentDownloadedDate</td>
                                    <td>
                                        <div class="btn-group dropleft">
                                            <div><img src="~/Content/image/comman-images/eye.png"></div>
                                            <button type="button" id="dropdownMenu2" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="~/Content/image/comman-images/dots.png" alt="menu" class="dropdown">
                                            </button>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <button class="dropdown-item" type="button">Yes, I Received</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                no++;

                            }

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- buyer requests table pagination-->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <div class="pagination">

                        @if (ViewBag.PageNumber == 1)
                        {
                            <a href="@Url.Action("BuyerRequest", new { BuyerRequest_page = @ViewBag.pageNumber})"><i class="fa fa-angle-left"></i></a>
                        }
                        else
                        {
                            <a href="@Url.Action("BuyerRequest", new { BuyerRequest_page = @ViewBag.pageNumber - 1})"><i class="fa fa-angle-left"></i></a>
                        }


                        @{
                            double TotalPagesBuyerRequest = ViewBag.TotalBuyerRequestPage;
                            for (int i = 1; i <= TotalPagesBuyerRequest; i++)
                            {
                                if (i == ViewBag.pageNumber)
                                {
                                    <a class="active">@i<span class="sr-only">(current)</span></a>
                                }
                                else
                                {
                                    @Html.ActionLink(i.ToString(), "BuyerRequest", new { BuyerRequest_page = i }, new { @class = "page-link" })
                                }
                            }
                        }


                        @if (ViewBag.pageNumber == TotalPagesBuyerRequest)
                        {
                            <a href="@Url.Action("BuyerRequest", new { BuyerRequest_page = @ViewBag.pageNumber })"><i class="fa fa-angle-right"></i></a>
                        }
                        else
                        {
                            <a href="@Url.Action("BuyerRequest", new {  BuyerRequest_page = @ViewBag.pageNumber + 1 })"><i class="fa fa-angle-right"></i></a>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@{
    Html.RenderPartial("_Footer");
}

