@model NotesMarketPlace.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
}

    <div id="forgotpass">
        <section id="forgotpassword-page">

            <div class="forgotpass-logo">
                <img src="~/Content/image/logo/top-logo.png" alt="forgotpass-logo">
            </div>

            <div class="forgotpass-content">

                <h2>Forgot Password?</h2>
                <p>Enter your Email to reset your password</p>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger " })
                    @ViewBag.emailsentmessage;
                    @ViewBag.emailnotfound;
                    <!-- Email Box -->
                    <div class="form-group">
                        <label class="pull-left"> @Html.DisplayNameFor(model => model.Email)</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "exampleInputEmail", placeholder = "Enter your email", type = "email" })
                    </div>

                    <!-- Submit button -->
                    <div id="submit-btn">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                }

            </div>

        </section>
    </div>

