@model NotesMarketPlace.Models.UsersViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
}

<div id="login">

    <section id="loginpage">

        <!-- login page logo -->
        <div class="login-logo">
            <img src="~/Content/image/logo/top-logo.png" alt="login-logo">
        </div>

        <!-- login page content -->
        <div class="login-content">

            <h2>Login</h2>
            <p>Enter your Email address and password to login</p>


            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                
                <!-- Email Box -->
                <div class="form-group">
                    <label class="pull-left"> @Html.DisplayNameFor(model => model.Email)</label>
                   @Html.ValidationSummary(true, null, new { @class = "text-danger"})                    
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "exampleInputEmail", placeholder = "Enter your email", type = "email"})
                </div>

                <div class="form-group forgot-password">
                    <label class="pull-left"> @Html.DisplayNameFor(model => model.Password)</label>                    
                    <span>@Html.ActionLink("Forgot password ?", "ForgotPassword")</span>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", id = "password", placeholder = "Enter your Password" })
                    <img src="~/Content/image/comman-images/eye.png" toggle="#password" class="field-icon toggle-password">
                </div>

                <!-- check box -->
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck">
                    &nbsp;
                    <label class="form-check-label" for="exampleCheck">Remember Me</label>
                </div>

                <!-- Login button -->
                <div id="login-btn">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </div>

                <span>Don't have an account? @Html.ActionLink("Signup", "Signup")</span>
            }

        </div>
     </section>

</div>

