@model NotesMarketPlace.Models.AddNotesViewModel
@{
    ViewBag.Title = "AddNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    Html.RenderPartial("_Front_Navbar");
}

<!-- page top image -->
<section id="addnotes-head">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <h1>Add Notes</h1>
            </div>
        </div>
    </div>
</section>

<!-- Page content -->
<section id="addnotes-details">
    <div class="content-box">
        <div class="container">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2>Basic Note Details</h2>
                </div>
            </div>

            @using (Html.BeginForm("AddNotes", "SellNotes", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">

                    <!-- first row -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Title *</label>
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", id = "addnote-title", placeholder = "Enter your note title" })
                        @Html.ValidationMessageFor(model => model.Title, null, new { @class = "text-danger pull-left" })
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Category *</label>
                        @Html.DropDownListFor(model => Model.Category, new SelectList(Model.NoteCategoryList, "ID", "Name", Model.Category), "Select your note Category", new { @class = "form-control", id = "addnote-category" })
                        @Html.ValidationMessageFor(model => model.Category, null, new { @class = "text-danger" })
                    </div>

                    <!-- second row -->
                    <div class="form-group upload-notes col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <label for="display-picture">Display Picture</label>                        
                        @Html.TextBoxFor(model => model.DisplayPicture, new { type = "file", accept = ".png, .jpg, .jpeg", @class = "form-control-file image-upload", id = "addnote-upload-notes" })                          
                        @Html.ValidationMessageFor(model => model.DisplayPicture, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group upload-notes col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <label for="upload-notes">Upload Notes *</label>
                        @Html.TextBoxFor(model => model.UploadNotes, new { type = "file", accept = ".pdf,.doc", @class = "form -control-file image-upload-note", id = "addnote-upload-notes", @multiple = "multiple", required = "required" })
                        @Html.ValidationMessageFor(model => model.UploadNotes, null, new { @class = "text-danger" })
                    </div>

                    <!-- third row -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Type *</label>
                        @Html.DropDownListFor(model => Model.NoteType, new SelectList(Model.NoteTypeList, "ID", "Name", Model.NoteType), "Select your note type", new { @class = "form-control", id = "addnote-type" })
                        @Html.ValidationMessageFor(model => model.NoteType, null, new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Number of Pages</label>
                        @Html.TextBoxFor(model => model.NumberofPages, new { @class = "form-control", id = "addnote-pages", placeholder = "Enter number of note pages" })
                    </div>

                    <!-- forth row -->
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 form-group">
                        <label>Description *</label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "addnote-Discription", placeholder = "Enter your Description..", rows = "4" })
                        @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                    </div>

                </div>

                <!-- institution details -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h2>Institution Information</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Country *</label>
                        @Html.DropDownListFor(model => Model.Country, new SelectList(Model.CountryList, "ID", "Name", Model.Country), "Select your country name", new { @class = "form-control", id = "addnote-type" })
                        @Html.ValidationMessageFor(model => model.Country, null, new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Institution Name</label>
                        @Html.TextBoxFor(model => model.UniversityName, new { @class = "form-control", id = "addnote-pages", placeholder = "Enter your institution name" })
                        @Html.ValidationMessageFor(model => model.UniversityName, null, new { @class = "text-danger" })
                    </div>
                </div>

                <!-- course details -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h2>Course Detalils</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Course Name</label>
                        @Html.TextBoxFor(model => model.Course, new { @class = "form-control", id = "addnote-coursename", placeholder = "Enter your course name" })
                        @Html.ValidationMessageFor(model => model.Course, null, new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Course Code</label>
                        @Html.TextBoxFor(model => model.CourseCode, new { @class = "form-control", id = "addnote-coursecode", placeholder = "Enter your course code" })
                        @Html.ValidationMessageFor(model => model.CourseCode, null, new { @class = "text-danger" })
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <label>Professor / Lecturer</label>
                        @Html.TextBoxFor(model => model.Professor, new { @class = "form-control", id = "addnote-professor", placeholder = "Enter your professor name" })
                        @Html.ValidationMessageFor(model => model.Professor, null, new { @class = "text-danger" })
                    </div>
                </div>

                <!-- selling information -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h2>Selling Information</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
                        <div class="addnote-radiobtn">
                            <label>Sell For *</label><br>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(model => model.IsPaid, "false", new { @class = "form-check-input", id = "Free", value = "free" })
                                <label class="form-check-label" for="inlineRadio1">Free</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButtonFor(model => model.IsPaid, "true", new { @class = "form-check-input", type = "radio", name = "inlineRadioOptions", id = "paid", value = "paid" })
                                <label class="form-check-label" for="inlineRadio2">paid</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.IsPaid, null, new { @class = "text-danger" })
                        </div>

                        <div class="addnote-professor">
                            <label>Selling Price *</label>
                            @Html.TextBoxFor(model => model.SellingPrice, new { @class = "form-control", id = "addnote-professor", placeholder = "Enter notes price" })
                            @Html.ValidationMessageFor(model => model.SellingPrice, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <label for="display-picture">Note Preview</label>
                        @Html.TextBoxFor(model => model.NotesPreview, new { type = "file", accept = ".pdf,.doc", @class = "form-control-file image-upload", id = "addnote-notepreview" })
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        <button type="submit" class="btn btn-primary btn-lg" value="Save" name="command">SAVE</button>
                        <button type="button" class="btn btn-primary btn-lg" data-target="#exampleModal" data-toggle="modal">PUBLISH</button>
                    </div>
                </div>

                <!-- Published note popup box -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">

                            <!--popup close btn-->
                            <div class="popup-close-btn">
                                <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><img src="~/Content/image/notedetails/close.png"></span>
                                </button>
                            </div>
                            
                            <div class="modal-body">
                                <h2 class="text-left">Publish Note</h2>
                                <p>
                                    Publishing this note will send note to administrator for review. <br /><br /> Once
                                    administrator review and approve then this note will be published to
                                    portal.
                                    <br />
                                    <br />Press yes to continue.
                                </p>

                                <button type="button" class="btn btn-secondary exampleClose" data-dismiss="modal">Close</button>
                                <button type="submit" name="Command" value="Publish" class="btn btn-primary btn-lg exampleYes">Yes</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of popup box -->
            }

        </div>
    </div>
</section>

@{
    Html.RenderPartial("_Front_Footer");
}

