@model NotesMarketPlace.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{     
    if (Session["ID"] != null)
    {
        Html.RenderPartial("_Front_Navbar");
    }
    else
    {
        Html.RenderPartial("_Front_Navbar_FSP");
    }
}

<!-- Dashboard Stats -->
<section id="dashboard">
    <div class="content-box">
        <div class="container">

            <!-- dashboard add note button -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <h2>Dashboard</h2>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <a type="button" class="btn btn-primary btn-lg" href="@Url.Action("AddNotes","SellNotes")">ADD NOTE</a>
                </div>
            </div>

            <!-- dashboard stats -->
            <div class="row">

                <!-- My earnings -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 first-stats">
                    <div class="sec-stats-content stats-content">
                        <img src="~/Content/image/Dashboard/my-earning.png">
                        <h4>My Earning</h4>
                    </div>
                </div>

                <!-- Notes Sold & money earned -->
                <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-12 sec-stats">
                    <div class="sec-stats-content">
                        <span>
                            <a href="@Url.Action("MySoldNotes","SoldNotes")"><h6>@ViewBag.total_sold_notes</h6></a>
                            <p>Number Notes Sold</p>
                        </span>
                        <span>
                            <a href="@Url.Action("MySoldNotes","SoldNotes")"><h6>$@ViewBag.money_earned</h6></a>
                            <p>Money Earned</p>
                        </span>
                    </div>
                </div>

                <!-- My downloads -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 rstats">
                    <div class="stats-content">
                        <a href="@Url.Action("MyDownloads","MyDownloads")"><h6>@ViewBag.my_downloads</h6></a>
                        <p>My Downloads</p>
                    </div>
                </div>

                <!-- My rejected notes -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 rstats">
                    <div class="stats-content">
                        <a href="@Url.Action("RejectedNotes","RejectedNotes")"><h6>@ViewBag.total_rejected_note</h6></a>
                        <p>My Rejected Notes</p>
                    </div>
                </div>

                <!-- Buyer Requests -->
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12 rstats">
                    <div class="stats-content">
                        <a href="@Url.Action("BuyerRequest","BuyerRequest")"><h6>@ViewBag.buyer_request</h6></a>
                        <p>Buyer Requests</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- inprogress note section -->
<section id="inprogress-note">
    <div class="content-box">
        <div class="container">

            <!-- inprogress note heading -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-12">
                    <h4>In Progress Notes</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12">
                    @using (Html.BeginForm("Dashboard", "SellNotes", FormMethod.Get))
                    {
                        <span>
                            <button type="submit" class="btn btn-primary btn-lg">SEARCH</button>
                            <input type="text" id="myInput" name="Pro_search" placeholder="Search..." title="Type in a name">
                        </span>
                    }
                </div>
            </div>
            <!-- End of Inprogress note heading -->

            <!-- inprogress note table -->
            <div class="row">
                <div class="table-responsive">
                    <table class="table inprogress-note-tbl">
                        <thead>
                            <tr>
                                <th scope="col">@Html.ActionLink("ADDED DATE", "Dashboard", new { sortOrderPro = ViewBag.DateSortParm, Pro_search = Request.QueryString["search"] })</th>
                                <th scope="col">@Html.ActionLink("TITLE", "Dashboard", new { sortOrderPro = ViewBag.TitleSortParm, Pro_search = Request.QueryString["search"] })</th>
                                <th scope="col">@Html.ActionLink("CATEGORY", "Dashboard", new { sortOrderPro = ViewBag.CategorySortParm, Pro_search = Request.QueryString["search"] })</th>
                                <th scope="col">@Html.ActionLink("STATUS", "Dashboard", new { sortOrderPro = ViewBag.StatusSortParm, Pro_search = Request.QueryString["search"] })</th>
                                <th scope="col" class="text-center">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.InProgressNote.Count() == 0)
                            {
                                <tr>
                                    <td colspan="5" class="text-center">No Record Found</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var items in Model.InProgressNote)
                                {
                                    using (Html.BeginForm("Delete", "SellNotes", new { id = items.ID }))
                                    {
                                        <tr>
                                            <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", items.CreatedDate))</td>
                                            <td>@Html.DisplayFor(modelItem => items.Title)</td>
                                            <td>@Html.DisplayFor(modelItem => items.NoteCategories.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => items.ReferenceData.Value)</td>
                                            <td class="text-center">
                                                <div class="inprogress-note-img text-center">
                                                    @if (items.Status == 6)
                                                    {
                                                        <a href="@Url.Action("EditNote", "SellNotes", new { id = items.ID})"><img src="~/Content/image/comman-images/edit.png" alt="edit"></a>
                                                        <button type="button" data-toggle="modal" class="delete-btn" data-target="#deletenote-@items.ID">
                                                            <img src="~/Content/image/comman-images/delete.png" alt="delete">
                                                        </button>

                                                        <!--pop up box for inreview notes -->
                                                        <div class="modal fade" id="deletenote-@items.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-body">
                                                                        <p class="text-left">
                                                                            Are you sure you want to delete this note ?
                                                                            <br />
                                                                            <br />Press yes to continue.
                                                                        </p>
                                                                        <button type="button" class="btn btn-secondary deletenoteBox" data-dismiss="modal">No</button>
                                                                        <a type="button" class="btn btn-secandory deletenoteBoxYes" href="@Url.Action("Delete","SellNotes",new{ id = items.ID})">Yes</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("NoteDetails", "SearchNote", new { id = items.ID})"><img src="~/Content/image/comman-images/eye.png" alt="eye"></a>
                                                    }

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of inprogress note table -->

            <!-- pagination of progress notes -->
            @if (ViewBag.TotalPagesInProgress != 0)
            {
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
                        <div class="pagination">

                            @if (ViewBag.pro_currentPage == 1)
                            {
                                <a href="@Url.Action("Dashboard", new { Pro_page = @ViewBag.pro_currentPage, Pro_search = Request.QueryString["Pro_search"], sortOrderPro = Request.QueryString["sortOrderPro"] })"><i class="fa fa-angle-left"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Dashboard", new { Pro_page = @ViewBag.pro_currentPage - 1, Pro_search = Request.QueryString["Pro_search"], sortOrderPro = Request.QueryString["sortOrderPro"] })"><i class="fa fa-angle-left"></i></a>
                            }

                            @{                                
                                for (int i = ViewBag.pro_startPage; i <= ViewBag.pro_endPage; i++)
                                {
                                    if (i == ViewBag.pro_currentPage)
                                    {
                                        <a class="active">@i<span class="sr-only">(current)</span></a>
                                    }
                                    else
                                    {
                                        @Html.ActionLink(i.ToString(), "Dashboard", new { Pro_page = i, Pro_search = Request.QueryString["Pro_search"], sortOrderPro = Request.QueryString["sortOrderPro"] }, new { @class = "page-link" })
                                    }
                                }
                            }

                            @if (ViewBag.pro_currentPage == ViewBag.pro_endPage)
                            {
                                <a href="@Url.Action("Dashboard", new { Pro_page = @ViewBag.pro_currentPage, Pro_search = Request.QueryString["Pro_search"], sortOrderPro = Request.QueryString["sortOrderPro"] })"><i class="fa fa-angle-right"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Dashboard", new { Pro_page = @ViewBag.pro_currentPage + 1, Pro_search = Request.QueryString["Pro_search"], sortOrderPro = Request.QueryString["sortOrderPro"] })"><i class="fa fa-angle-right"></i></a>
                            }

                        </div>
                    </div>
                </div>
             }
            <!-- End of Inprogress Pagination-->

        </div>
    </div>
</section>

<!-- Published Notes-->
<section id="published-note">
    <div class="content-box">
        <div class="container">

            <!-- published note heading -->
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4">
                    <h4>Published Notes</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8">
                    @using (Html.BeginForm("Dashboard", "SellNotes", FormMethod.Get))
                    {
                        <span>
                            <button type="submit" class="btn btn-primary btn-lg">SEARCH</button>
                            <input type="text" id="myInput" name="Pub_search" placeholder="Search..." title="Type in a name">
                        </span>
                    }
                </div>
            </div>
            <!-- End of published note heading -->

            <!-- published note table -->
            <div class="row">
                <div class="table-responsive">
                    <table class="table published-note-tbl">
                        <thead>
                            <tr>
                                <th scope="col">@Html.ActionLink("ADDED DATE", "Dashboard", new { sortOrderPub = ViewBag.DateSortParm1, Pub_search = Request.QueryString["Pub_search"], Pub_page = Request.QueryString["Pub_page"] })</th>
                                <th scope="col">@Html.ActionLink("TITLE", "Dashboard", new { sortOrderPub = ViewBag.TitleSortParm1, Pub_search = Request.QueryString["Pub_search"], Pub_page = Request.QueryString["Pub_page"] })</th>
                                <th scope="col">@Html.ActionLink("CATEGORY", "Dashboard", new { sortOrderPub = ViewBag.CategorySortParm1, Pub_search = Request.QueryString["Pub_search"], Pub_page = Request.QueryString["Pub_page"] })</th>
                                <th scope="col">@Html.ActionLink("SELL TYPE", "Dashboard", new { sortOrderPub = ViewBag.STypeSortParm1, Pub_search = Request.QueryString["Pub_search"], Pub_page = Request.QueryString["Pub_page"] })</th>
                                <th scope="col">@Html.ActionLink("PRICE", "Dashboard", new { sortOrderPub = ViewBag.PriceSortParm1, Pub_search = Request.QueryString["Pub_search"], Pub_page = Request.QueryString["Pub_page"] })</th>
                                <th scope="col" class="text-center">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.PublishedNote.Count() == 0)
                            {
                                <tr>
                                    <td colspan="6" class="text-center">No Record Found</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var items in Model.PublishedNote)
                                {
                                    <tr>
                                        <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", items.CreatedDate))</td>
                                        <td>@Html.DisplayFor(modelItem => items.Title)</td>
                                        <td>@Html.DisplayFor(modelItem => items.NoteCategories.Name)</td>
                                        @if (items.IsPaid)
                                        {
                                            <td>Paid</td>
                                            <td>$@Html.DisplayFor(modelItem => items.SellingPrice)</td>
                                        }
                                        else
                                        {
                                            <td>Free</td>
                                            <td>$0</td>
                                        }
                                        <td class="text-center">
                                            <a href="@Url.Action("NoteDetails", "SearchNote", new { id = items.ID})"><img src="~/Content/image/comman-images/eye.png" alt="eye"></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of published note table -->

            <!-- pagination of published notes -->
            @if (ViewBag.TotalPagesInPublished != 0)
            {
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-sm-12 text-center">
                        <div class="pagination">

                            @if (ViewBag.pub_currentPage == 1)
                            {
                                <a href="@Url.Action("Dashboard", new { Pub_page = @ViewBag.pub_currentPage, Pub_search = Request.QueryString["Pub_search"], sortOrderPub = Request.QueryString["sortOrderPub"] })"><i class="fa fa-angle-left"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Dashboard", new { Pub_page = @ViewBag.pub_currentPage - 1, Pub_search = Request.QueryString["Pub_search"], sortOrderPub = Request.QueryString["sortOrderPub"] })"><i class="fa fa-angle-left"></i></a>
                            }

                            @{                                
                                for (int i = ViewBag.pub_startPage; i <= ViewBag.pub_endPage; i++)
                                {
                                    if (i == ViewBag.pub_currentPage)
                                    {
                                        <a class="active" href="#">@i<span class="sr-only">(current)</span></a>
                                    }
                                    else
                                    {
                                        @Html.ActionLink(i.ToString(), "Dashboard", new { Pub_page = i, Pub_search = Request.QueryString["Pub_search"], sortOrderPub = Request.QueryString["sortOrderPub"] }, new { @class = "page-link" })
                                    }
                                }
                            }

                            @if (ViewBag.pub_currentPage == ViewBag.pub_endPage)
                            {
                                <a href="@Url.Action("Dashboard", new { Pub_page = @ViewBag.pub_currentPage, Pub_search = Request.QueryString["Pub_search"], sortOrderPub = Request.QueryString["sortOrderPub"] })"><i class="fa fa-angle-right"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Dashboard", new { Pub_page = @ViewBag.pub_currentPage + 1, Pub_search = Request.QueryString["Pub_search"], sortOrderPub = Request.QueryString["sortOrderPub"] })"><i class="fa fa-angle-right"></i></a>
                            }
                        </div>
                    </div>
                </div>
             }
             <!-- End of pagination -->

        </div>
    </div>
</section>

@{
    Html.RenderPartial("_Front_Footer");
}

