<!-- Navigation -->
<section class="navigation @ViewBag.navClass">
    <div class="nav-box">
        <div class="container">
            <nav class="navbar">

                <!-- Logo -->
                <div class="nav-logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/image/logo/blue-logo.png" title="navlogo" alt="toplogo"></a>
                </div>

                <!-- Navbar Links -->
                <div class="nav-menu-link">
                    <ul class="navbar-nav container">
                        
                        <li class="nav-item">
                            <a class="nav-link @ViewBag.SearchNotes" href="@Url.Action("SearchNotes","SearchNote")">Search Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewBag.SellNotes" href="@Url.Action("Dashboard","SellNotes")">Sell Your Notes</a>
                        </li>

                        @if (Session["ID"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link @ViewBag.BuyerRequest" href="@Url.Action("BuyerRequest","BuyerRequest")">Buyer Requests</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link @ViewBag.Faq" href="@Url.Action("Faq","Faq")">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewBag.ContactUs" href="@Url.Action("ContactUs","ContactUs")">Contact Us</a>
                        </li>

                        @if (Session["ID"] != null)
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="user-nav-link" data-toggle="dropdown" href="#">
                                        @{ using (var db = new NotesMarketPlaceEntities())
                                            {
                                                int id = (int)System.Web.HttpContext.Current.Session["ID"];
                                                var data = db.UserProfile.FirstOrDefault(x => x.UserID == id);
                                                
                                                <!-- default image -->
                                                if (data == null || data.ProfilePicture == null)
                                                {
                                                    <img class="rounded-circle" src="~/Content/image/default-user-img/user-img.png" alt="user-image">
                                                }
                                                else
                                                {                                                    
                                                    <img class="rounded-circle" src="@Url.Content(data.ProfilePicture)" alt="userimg">
                                                }
                                            }
                                        }

                                    </a>
                                    <img class="arrow-down" src="./images/Dashboard/down-arrow.png" alt="">
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("MyProfile","UserProfile")">My Profile</a>
                                        <a class="dropdown-item" href="@Url.Action("MyDownloads","MyDownloads")">My Downloads</a>
                                        <a class="dropdown-item" href="@Url.Action("MySoldNotes","SoldNotes")">My Sold Notes</a>
                                        <a class="dropdown-item" href="@Url.Action("RejectedNotes","RejectedNotes")">My Rejected Notes</a>
                                        <a class="dropdown-item" href="@Url.Action("ChangePassword","ChangePassword")">Change Password</a>
                                        <a class="dropdown-item" href="@Url.Action("Logout","Account")"><span><b>Logout</b></span> </a>
                                    </div>
                                </div>
                            </li>
                            <!-- Logout Btn -->
                            <li class="nav-item">
                                <div id="btn-white">
                                    <a class="btn" href="@Url.Action("Logout","Account")" title="Logout" role="button">Logout</a>
                                </div>
                            </li>
                        }

                        else
                        {
                            <!-- Login Btn -->
                            <li class="nav-item">
                                <div id="btn-white">
                                    <a class="btn" href="@Url.Action("Login","Account")" role="button">Login</a>
                                </div>
                            </li>
                        }

                    </ul>
                </div>

                <!-- Mobile Toggle Btn -->
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

            </nav>
        </div>
    </div>
</section>
<!-- End of navigation -->
