<!-- Header Section -->
<!-- Navigation -->
<section class="navigation @ViewBag.navclass">
    <div class="nav-box">
        <div class="container">
            <nav class="navbar">

                <!-- Logo -->
                <div class="nav-logo">
                    <a href="./homepage.html"><img src="~/Content/image/logo/blue-logo.png" alt=""></a>
                </div>

                <!-- Link -->
                <div class="nav-menu-link">
                    <ul class="navbar-nav container">
                        <!-- Dashboard -->
                        <li class="nav-item">
                            <a class="nav-link @ViewBag.SearchNotes" href="@Url.Action("Index","SearchNote")">Search Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewBag.SellNotes" href="@Url.Action("Dashboard","SellNotes")">Sell Your Notes</a>
                        </li>

                        @if (Session["ID"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link @ViewBag.BuyerRequest" href="@Url.Action("Index","SearchNote")">Buyer Requests</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link @ViewBag.Faq" href="@Url.Action("Faq","Faq")">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewBag.ContactUs" href="@Url.Action("ContactUs","ContactUs")">Contact Us</a>
                        </li>

                        @if (Session["ID"] != null)
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="user-nav-link" data-toggle="dropdown" href="#">
                                        <img class="rounded-circle" src="~/Content/image/notedetails/customer-1.jpg" alt="">
                                    </a>
                                    <img class="arrow-down" src="./images/Dashboard/down-arrow.png" alt="">
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">My Profile</a>
                                        <a class="dropdown-item" href="./mydownloads.html">My Downloads</a>
                                        <a class="dropdown-item" href="./soldnotes.html">My Sold Notes</a>
                                        <a class="dropdown-item" href="./rejectednote.html">My Rejected Notes</a>
                                        <a class="dropdown-item" href="./changepass.html">Change Password</a>
                                        <a class="dropdown-item" href="#"><span><b>Logout</b></span> </a>
                                    </div>
                                </div>
                            </li>
                            <!-- Logout Btn -->
                            <li class="nav-item">
                                <div id="btn-white">
                                    <a class="btn" href="@Url.Action("Logout","Account")" title="Logout" role="button">Logout</a>
                                </div>
                            </li>
                        }

                        else
                        {
                            <!-- Login Btn -->
                            <li class="nav-item">
                                <div id="btn-white">
                                    <a class="btn" href="@Url.Action("Login","Account")" role="button">Login</a>
                                </div>
                            </li>
                        }

                    </ul>
                </div>

                <!-- Mobile Toggle Btn -->
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

            </nav>
        </div>
    </div>
</section>
