@model NotesMarketPlace.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="changepassword">
    <div class="box">

        <!-- top logo -->
        <div class="logo">
            <div class="changepass-logo text-center">
                <img src="~/Content/image/logo/top-logo.png" alt="changepass-logo">
            </div>
        </div>

        <div class="changepass-content text-center">

            <!-- change password heaidng-->
            <div class="changepass-heading text-center">
                <h2>Change Password</h2>
                <p>Enter your new password to change your password</p>
            </div>

            @using (Html.BeginForm("ChangePassword", "ChangePassword", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                if (ViewBag.status != null)
                {
                    <p class="text-success"><i class="fa fa-check-circle text-success"></i> Your password has been changed successfully.</p>                                        
                }

                <!-- old password Box  -->
                <div class="form-group">
                    <label for="exampleInputPassword">Old Password</label>
                    @Html.TextBoxFor(model => model.oldPassword, new { @class = "form-control", id = "oldPassword", placeholder = "Enter Your old password" })
                    <span class="field-icon"><img src="~/Content/image/comman-images/eye.png" toggle="#oldPassword" class="field-icon toggle-password"></span>
                    @Html.ValidationMessageFor(model => model.oldPassword, null, new { @class = "text-danger pull-left" })
                </div>

                <!-- new password Box  -->
                <div class="form-group">
                    <label for="exampleInputPassword1">New Password</label>
                    @Html.TextBoxFor(model => model.newPassword, new { @class = "form-control", id = "newPassword", placeholder = "Enter Your new password" })
                    <span class="field-icon"><img src="~/Content/image/comman-images/eye.png" toggle="#newPassword" class="field-icon toggle-password"></span>
                    @Html.ValidationMessageFor(model => model.newPassword, null, new { @class = "text-danger pull-left" })
                </div>

                <!-- confirm password Box  -->
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    @Html.PasswordFor(model => model.confirmPassword, new { @class = "form-control", id = "confirmPassword", placeholder = "Enter Your confirm password" })
                    <span class="field-icon"><img src="~/Content/image/comman-images/eye.png" toggle="#confirmPassword" class="field-icon toggle-password"></span>
                    @Html.ValidationMessageFor(model => model.confirmPassword, null, new { @class = "text-danger pull-left" })
                </div>

                <!-- Submit button -->
                <div id="submit-btn">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            }
        </div>
    </div>
</section>


